name: Tests

on:
  push:

jobs:
  tests:

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest

    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v4
      - name: Build and test
        run: make test
      - name: Lint
        run: make lint
